In [4]:
# Add the Pandas dependency.
import pandas as pd

In [ ]:
# Create a DataFrame
aapl_returns = pd.DataFrame({"AAPL": [0.5, 0.56, 0.59, 0.52, 0.1]})

# Select the first row using iloc
aapl_returns.iloc[0]

In [ ]:
apple_returns = pd.DataFrame({"AAPL":[0.5,0.56,0.59,0.52,0.1,0.75,0.47]})

#return the last three elements
apple_returns.iloc[-3:]

In [5]:
sales_df = pd.DataFrame({"item": ["tomatoes", "onions", "potatoes", "tomatoes", "mushrooms"],
                "quantity": [15, 26, 10, 12, 2],
                "total_price": [50.25, 39.52, 50.01, 40.20, 8.46]})

In [6]:
max_price = sales_df["total_price"].max()
max_price_row = sales_df.loc[sales_df["total_price"] == max_price]
max_price_row

       item  quantity  total_price
0  tomatoes        15        50.25